<div class="error-card {{error.level.toLowerCase()}}">
  <!--<span>{{number+1}}</span>-->
  <div class="error-card-title">
    <button
      type="button"
      class="btn btn-link button-label"
      (click)="expandStackTrace()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls='stackTrace'>

      {{error.exceptionMessage || 'none'}}
    </button>
    <div>
      <span class="cell-data">{{getDate(error.timestamp)}}</span>
      <span class="cell-data">{{error.machinename || 'none'}}</span>
    </div>
  </div>

  <div class="flex-center">
    <span class="error-card-type">{{error.exceptionType}}</span>
    <span class="cell-data">{{error.userHostAddress || 'none'}}</span>
  </div>

  <div class="flex-center">
    <a class="error-card-link" href="{{getSiteUrl(error.requestUrl) + error.requestPath}}" target="_blank">
      {{getSiteUrl(error.requestUrl) + error.requestPath}}
    </a>
    <span class="cell-data">{{error.user || 'none'}}</span>
  </div>

  <div id="stackTrace" [ngbCollapse]="isCollapsed">
    <span *ngIf="hiddenAmount > 0" class="stack-trace__info" >
      {{hiddenAmount}} items were hidden
    </span>
    <div *ngIf="stackTrace" class="stack-trace__content" [innerHTML]="stackTrace"></div>
    <div *ngIf="!stackTrace" class="stack-trace__info">
      Stack Trace is empty
    </div>
  </div>
</div>
