.card-body {
  font-size: 14px;
}
.card-message {
  font-size: 16px;
  font-weight: 500;
  color: #6767a5;
}
.cell-label {
  text-transform: lowercase;
  font-style: italic;
  font-size: 12px;
  color: #aaa;
  margin-right: 2px;
}
.cell-data {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px;
}
.stack-trace {
  margin-top: 15px;
  white-space: pre;
  text-overflow: initial;
}
.card-content {
  display: flex;
  justify-content: space-between;
}
.card-content-column {
  display: flex;
  flex-direction: column;
}
.error-list {
  margin: 0 15px;
  &:nth-child(even) {
    background: #f7f7f7;
  }
}

.error-card-stats {
  display: flex;
  align-items: center;
  height: 100%;

  .stats-title {
    font-size: 15px;
    margin-right: 5px;
    font-weight: 400;
  }
}
.card {
  padding: 12px;
}
