
  <div class="card">
    <div class="row">
      <div class="col-md-5 card-title">
        {{number+1}}. {{error.level}} at <span>{{getDate(error.timestamp)}}</span>
      </div>
      <div class="col-md-3 ml-auto sublist-cell">
        <span class="cell-label">type</span>
        <span class="cell-data">{{error.exceptionType || 'none'}}</span>
      </div>
      <div class="col-md-2 sublist-cell">
        <span class="cell-label">Server</span>
        <span class="cell-data">{{error.machinename || 'none'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6  sublist-cell">
        <div class="cell-label">Url</div>
        <span class="cell-data">{{error.requestUrl || 'none'}}</span>
      </div>

      <div class="col-md-2 sublist-cell">
        <div class="cell-label">Api</div>
        <span class="cell-data">{{error.userHostAddress || 'none'}}</span>
      </div>
      <div class="col-md-2 sublist-cell">
        <div class="cell-label">User</div>
        <span class="cell-data">{{error.user || 'none'}}</span>
      </div>
      <div class="col-md-2 sublist-cell">
        <button
          type="button"
          class="btn btn-link"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls='stackTrace'>
          {{isCollapsed ? 'Stack Trace' : 'Hide'}}
        </button>
      </div>
    </div>
    <div class="row">
        <div id="stackTrace" [ngbCollapse]="isCollapsed">
          <div class="cell-data stack-trace" >{{error.stackTrace || 'none'}}</div>
        </div>
      </div>
  </div>

